header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

div {
  border: 1px solid black;
}

.logo {
  display: inline-flex;
  color: MediumAquamarine;
  align-items: center;
  padding: 5px 35px;
}

.navigation {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 35px;
}

.content {
  display: flex;
}


.navigation span {
  align-items: center;
  margin: 10px;
}

.navigation a {
  color: black;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
